<article class="cf ph3 ph5-ns pv5">
    <header class="fn fl-ns w-50-ns pr4-ns">
        <h1 class="mb3 mt0 lh-title">Reach out to us</h1>
        <time class="f6 ttu tracked gray">we would love to hear from you</time>
    </header>
    <div class="fn fl-ns w-50-ns">
        <form class="pa4 black-80">
            <div class="measure">
                <label for="name" class="f6 b db mb2">Name</label>
                <input id="name" class="input-reset ba b--black-20 pa2 mb2 db w-100" type="text"
                    aria-describedby="name-desc">
                <small id="name-desc" class="f6 black-60 db mb2">Helper text for the form control.</small>
            </div>
            <div class="measure">
                <label for="email" class="f6 b db mb2">Email</label>
                <input id="email" class="input-reset ba b--black-20 pa2 mb2 db w-100" type="email"
                    aria-describedby="name-desc">
                <small id="email-desc" class="f6 black-60 db mb2">Helper text for the form control.</small>
            </div>
            <div class="measure">
                <label for="message" class="f6 b db mb2">Message</label>
                <textarea id="message" name="message"
                    class="db border-box hover-black w-100 measure ba b--black-20 pa2 br2 mb2"
                    aria-describedby="comment-desc"></textarea>
                <small id="message-desc" class="f6 black-60 db mb2">Helper text for the form control.</small>
            </div>

            <div class="measure">
                <button class="f6 link dim ph3 pv2 mb2 dib white bg-black" type="submit">Submit</button>
            </div>
        </form>
    </div>
</article>