<div id="home">
    <!-- hero -->
    <section class="flex justify-between-ns flex-column-m">
        <div class="outline w-50-l w-100-ns bg-dark-blue white ph4-m">
            <div class="fn fl-ns ph5-l w-100 pr4-ns mv7">
                <h1 class="f2 lh-copy fw9 mb4 mt0  bw2">
                    Creations Construction & Property Management provides <br class="d-l">stress free renovations
                </h1>
                <a href="https://api.whatsapp.com/send?phone=+18623189777"
                    class="w-100 w-auto-ns bg-white dark-blue-80 f5 pv2 pv3-ns ph4 ba b--white bg-hover-mid-gray">Start
                    yours today</a> <br>
            </div>
        </div>
        <div class="w-50-l w-100-ns cover"
            style="background: url(/public/images/bigkitchen.jpg) no-repeat center center">

        </div>
    </section>
    <section class="mv6 ph4-m">
        <div class="tc ph4">
            <h1 class="f1 f2-m f2-l fw4 black-90 mv3">
                Redesign and Build.
            </h1>
            <h2 class="f5 f4-m f3-l fw2 black-50 mt0 lh-copy">
                Let our team of experts manage the design and build of your dream house, from concept to completion.
            </h2>
        </div>
        <div class="flex-ns flex-column-m items-start ph5-l pv4">
            <div class="ba b--black-10 w-25-l w-100-ns pa3 mr2 h5 mb5">
                <div class="">
                    <h1 class="f4 fw4">Interior & exterior carpentry</h1>
                </div>
                <p class="lh-copy measure center-l f6 black-70">
                    Interior renovations can bring your home up-to-date and add character, setting it apart from the
                    rest. For your interior renovation project, consider custom woodwork to complement your home's
                    architecture or a new decorative surround for your fireplace.
                </p>
            </div>
            <div class="ba b--black-10 w-25-l w-100-ns pa3 mr2 h5 mb5">
                <div class="">
                    <h1 class="f4 fw4">Kitchen renovations</h1>
                </div>
                <p class="lh-copy measure center-l f6 black-70">
                    Remodeling or updating a kitchen is one of the best ways to add function, comfort and value to your
                    home. Start by identifying what you NEED and WANT in your dream kitchen. We'll listen carefully to
                    your remodeling ideas, offer helpful suggestions and develop the best design solutions for your
                    priorities and budget.
                </p>
            </div>
            <div class="ba b--black-10 w-25-l w-100-ns pa3 mr2 h5 mb5">
                <div class="">
                    <h1 class="f4 fw4">Bathroom renovations</h1>
                </div>
                <p class="lh-copy measure center-l f6 black-70">
                    From soaking tubs to walk-in showers with body sprays, today's bathrooms help you relax, recharge
                    and escape the stress of everyday life. At Creations Construction, we'll help make it special for
                    you. We'll listen carefully to your remodeling ideas, offer helpful suggestions and develop the best
                    design solutions for your priorities and budget.
                </p>
            </div>
            <div class="ba b--black-10 w-25-l w-100-ns pa3 mr2 h5 mb5">
                <div class="">
                    <h1 class="f4 fw4">Roof renovations</h1>
                </div>
                <p class="lh-copy measure center-l f6 black-70">
                    We'll provide you with a free roof inspection to assess the quality of your roof, then suggest your
                    best option moving forward.At Creations Construction, we'll help make it special for
                    you. We'll listen carefully to your remodeling ideas, offer helpful suggestions and develop the best
                    design solutions for your priorities and budget.
                </p>
            </div>
            <!-- <div class="outline w-25 pa3 h5">
          <div class="">
            <h1 class="f4 fw4">Mimi Whitehouse</h1>
          </div>
          <p class="lh-copy measure center f6 black-70">
            Quite affectionate and outgoing.
            She loves to get chin scratches and will
            roll around on the floor waiting for you give her more of them.
          </p>
        </div> -->
        </div>
    </section>
</div>